<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="{{url_for('manual')}}">Ver el manual de usuario</a>
    <h1> Bienvenido a NNN! </h1>
    <h2> Una web pensada para mejorar la interactividad en clase utilizando herramientas tecnologicas </h2>

    <!-- Boton que lleva a la vista: Eleccion de categorias -->
    <a href="{{url_for('eleccion')}}"> Iniciar! </a>

    <!-- Boton que lleva a la vista: Manual de usuario -->

</body>
</html>