<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./static/css/style.css">
    <title>Manual</title>
</head>
    <body>
        <div> 
            <header> 
                <nav class="flex items-center justify-between flex-wrap bg-amber-500 p-2">
                    <!-- Colocar logo-->
                        <div class="flex items-center flex-shrink-0 text-white mr-6">

                            <a href="{{url_for('home')}}">
								<img src="./static/images/logo_.png" alt="Logo" class="h-16 w-40">
							</a>
                            <!-- <span class="font-semibold text-xl tracking-tight">Logo del Juego </span>
                            -->
                        </div>
                        <div class="block lg:hidden">
                            <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                            </button>
                        </div>
                        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                            <div class="text-sm lg:flex-grow">
                                
                            </div>
                            <div class="justify-between">
                                
                                <img src="./static/images/idiomas_button_violet.png" class=" inline-block w-28 h-22 hover:transform hover:-translate-y-1 hover:scale-110">
                                <!-- Boton de instrucciones --> 
                                <a href="{{url_for('manual')}}">								
                                    <img src="./static/images/button_interrogacion_violet.png".png class=" inline-block w-28 h-22 hover:transform hover:-translate-y-1 hover:scale-110">    
                                </a>
                            </div>
                        </div>
                </nav>
            </header>
             
    
    <!--Texto nombre del juego-->
    <div class="text-white flex justify-center w-full"> 
        <h1 class="font-bold text-6xl mt-14"> Jaggy Game </h1>
    </div>
   <div class="flex flex-row">
        <!--Texto -->
        <div class="bg-purple-700 opacity-80 text-justify text-2xl text-white w-1/2 m-10 rounded-2xl p-8">
                <p class=" pb-5">Consiste en una plataforma de diversos juegos didácticos con diferentes temáticas. En la cual puedes seleccionar los juegos ya establecidos o crear tus propios desafíos de manera rápida y muy sencilla. </p>              
                <h2 class="font-bold text-2xl">Opción de juegos preestablecidos:</h2>
                <div class="ml-10 pb-3">
                    <p>   • Haz click en “Jugar”</p>
                    <p>   • Seleccione la temática del juego.</p>
                    <p>   • Saldrá una nueva ventana la cual ya accedera al juego, en ella al hacer click en “Comenzar”, inicia la secuencia de la historia.</p>
                    <p>   • Haz click y/o enter una vez leído cada mensaje.</p>
                    <p>   • Al momento del desafio se presentaran varias opciones, haz click en la opción deseada.</p>
                </div>
                <h2 class="font-bold text-2xl">Opción de juegos a crear:</h2>
                    <div class="ml-10 pb-3">
                        <p>• Proximamente</p>
                    </div>
                </div>   
        <!--Mascota-->
        <div class="ml-20 mt-10">
            <img src="./static/images/parado_pensando.png" alt="mascota" class="w-5/6">
        </div> 
   </div>            
    </body>
</html>